.popup__button-save {
    max-width: 358px;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    margin: 48px 36px 37px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.popup__button-save:hover {
    opacity: .8;
}

@media screen and (max-width: 530px) {
    .popup__button-save {
        max-width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px 22px 25px;
    }
}
    