.profile {
    max-width: 880px;
    margin: 40px auto 0;
    color: white;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 3fr 2fr; 
    grid-template-rows: minmax(min-content, max-content);  
    column-gap: 30px;
    justify-items: flex-start;
    box-sizing: border-box;
    border: 1px solid rebeccapurple;
}

@media screen and (max-width: 950px){
    .profile {
        margin: 40px 27px 0;
    }
}

@media screen and (max-width: 750px){
    .profile {
       max-width: 282px;
       margin-top: 42px;
       grid-template-columns: 1fr; 
       grid-template-rows: minmax(min-content, max-content); 
       margin: 38px auto 0;    
    }
}