.header {
    max-width: 880px;
    margin: 45px auto 0;
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: solid 1px rgb(84, 84, 84, .7);
}

@media screen and (max-width: 890px) {
    .header {
        margin-right: 27px;
        margin-left: 27px;
    } 
}

@media screen and (max-width: 740px) {
    .header {
        width: 100%;
        margin: 28px 0 42px;
        padding-bottom: 31px;
       
    } 
}