.profile__add-button {
    width: 150px;
    height: 50px;    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px white solid;
    background-color: #000;
    background-image: url(../../../image/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    justify-self: end;
}

.profile__add-button:hover {
    opacity: .5;
}

@media screen and (max-width: 740px){
    .profile__add-button {
       width: 100%;
       background-size: 17px;
       margin-top: 30px;
    }
}