.popup__input-container_name {
    width: 100%;
    min-height: 27px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 45px;
    padding: 0;
    align-self: flex-start;
}

@media screen and (max-width: 530px){
    .popup__input-container_name {
        margin-top: 75px; 
    }
}