.profile__info-block {
    width: 336px;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-rows: repeat(auto-fit, minmax(18px, 1fr));
    column-gap: 18px;
    row-gap: 16px;
    align-self: center; 
}

@media screen and (max-width: 750px){
    .profile__info-block {
        max-width: 282px;
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: center;
        margin-top: 22px;
        position: relative;
    }
}