.element {
    max-width: 282px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 282px minmax(80px, auto);
    grid-template-areas: 
    "image image"
    "name like";
    margin: 0;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;  
}
