.profile__subscribe {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 320px){
    .profile__subscribe {
        font-size: 14px;
        line-height: 17px;
        
    }  
}